<div class='box max-width'>
  <h1>Your Collection</h1>
  <div class='guitars-grid'>
    {{#each collection}}
      <div class='guitar-card'>
        <a href='/guitars/{{id}}'><img src={{image}} alt='beauty-pic' /></a>
        <p>Nickname: {{nickName}}</p>
        <p>Model: {{model}}</p>
        <form action='/guitars/{{id}}/delete' method='POST'>
          <button class='button delete'>Delete</button>
        </form>
      </div>
    {{/each}}
  </div>
</div>