<div class='box auto-width form-box'>
  <h1>Welcome {{user.username}}</h1>
  <div>
    <p>Name: {{name}}</p>
    <p>Email: {{email}}</p>
    <p>Password: {{password}}</p>
    <p>Country of origin: {{country}}</p>
    <p>Description: </p>
  </div>
  <button><a href='/edit'>Edit</a></button>
</div>