<div class="box auto-width form-box">
    <h1>Change the details of this beauty, {{user.username}}</h1>

    {{#if errorMessage}}
        <p class="warning">
            {{errorMessage}}
        </p>
    {{/if}}

    <form class="form" action="/profile/guitar/{{guitarDetails._id}}/edit" method="POST" enctype="multipart/form-data">

        <label>Image:
            <input type="file" name="image" />
        </label>

        <label> Nickname:
            <input type="text" name="nickName" value="{{guitarDetails.nickName}}"/>
        </label>

        <label> Brand:
            <input type="text" name="brand" value="{{guitarDetails.brand}}"/> 
        </label>

        <label> Model:
            <input type="text" name="model" value="{{guitarDetails.model}}"/> 
        </label>

        <label> Country of origin:
            <input type="text" name="countryOrigin" value="{{guitarDetails.countryOrigin}}"/>
        </label>

        <label> Year:
            <input type="number" name="year" value="{{guitarDetails.year}}"/>
        </label>

        <label for="type">Type of guitar:</label>
        <select name="type" id="type">
            {{#each typeOptions}}
                <option value={{this}}>{{this}}</option>
            {{/each}}
        </select>

        <label> Fingerboard Material:
            <input type="text" name="fingerboardMaterial" value="{{fingerboardMaterial}}"></input>
        </label>

        <label> Pickup Configuration:
            <input type="text" name="pickupConfig" value="{{guitarDetails.pickupConfig}}"> </input>
        </label>

        <label for="textarea"> Please add any artist you know who plays a similar guitar:</label>
        <textarea id="textarea" name="artists" cols="20" rows="2"> {{guitarDetails.artists}}</textarea>

        <div class="row-btns">
        <button class="button" type="submit"> Change </button> 
        <form action="profile/guitar/{{guitarDetails._id}}/delete" method="POST">
            <button class="button delete">Delete</button>
        </form>
        </div>    
    </form>

</div>