<div class="box auto-width form-box">
<h1>Tell us about your beauty {{user.name}}</h1>

    {{#if errorMessage}}
        <p class="error">
            {{errorMessage}}
        </p>
    {{/if}}


    <form action="/guitars/create" method="POST" enctype="multipart/form-data">
        <label> Image:
            <input type="file" name="image" class="form-control-file" /> <br>
        </label>
    </form>

    <form class="form" action="/guitars/create" method="POST">

        <label> Username:
            <option type="text" value="{{user._id}}" name="user">{{user.username}}<br>
            </option>
        </label>

        <label> Nickname:
            <input class="text-input" type="text" name="nickName" />
        </label>

        <label> Brand:
            <input class="text-input" type="text" name="brand" /> 
        </label>

        <label> Model:
            <input class="text-input" type="text" name="model" /> 
        </label>

        <label> Country of origin:
            <input class="text-input" type="text" name="countryOrigin" />
        </label>

        <label> Year:
            <input class="text-input" type="number" name="year" />
        </label>

        <label> Type:
            <select name="type" id="type">
                {{#each typeOptions}}
                <option value="{{this}}">{{this}}</option>
                {{/each}}
            </select> <br>                
        </label>

        {{!-- <label> Type:
            {{#each typeOptions}}
                <button type="button" onclick="submit" value="{{this}}" name="type"> 
                    {{this}}
                </button>
            {{/each}}<br>                
        </label> --}}

        {{!-- <label> Type (Electric, Classic, Acoustic):
            <input name="type"></input><br>
        </label> --}}

        <label> Fingerboard Material:
            <input class="text-input" type='text' name="fingerboardMaterial"></input>
        </label>

        <label> Pickup Configuration:
            <input class="text-input" type='text' name="pickupConfig"> </input>
        </label>


        <label for="textarea"> Please add any artist you know who plays a similar guitar: 
        </label>
        <textarea id="textarea" name="artists"></textarea>

        <button class="button" type="submit"> Create </button> 
    </form>
</div>