<div class='box max-width'>
  <h1>Welcome to Guithub!</h1>
  <div class='guitars-grid'>
    {{#each guitarList}}
      <div class='guitar-card'>
        <h3>{{this.nickName}}</h3>
        <a href='/guitars/{{this._id}}'><img src={{this.image}} alt='beauty-pic' /></a>
        <p>Brand: {{this.brand}}</p>
        <p>Model: {{this.model}}</p>
        <p>User:
          <a href='/profile/{{this.user._id}}/collection'>{{this.user.username}}</a>
        </p>
      </div>
    {{/each}}
  </div>
</div>