<div class='box max-width'>
  <h1>Welcome to Guithub!</h1>
  <div class='guitars-grid'>
    {{#each guitarList}}
      <div class='guitar-card'>
        <a href='/guitars/{{this._id}}'><img src={{this.image}} alt='beauty-pic' /></a>
        <p>Brand: {{this.brand}}</p>
        <p>Model: {{this.model}}</p>
        <p>User: {{this.user.username}}</p>
        <form action='/guitars/{{this._id}}/delete' method='POST'>
          <button class='button delete'>Delete</button>
        </form>
      </div>
    {{/each}}
  </div>
</div>