<div class="box auto-width form-box">
    <h1>Change the details of this beauty, {{user.username}}</h1>

    {{#if errorMessage}}
        <p class="warning">
            {{errorMessage}}
        </p>
    {{/if}}

    <form class="form" action="/guitars/{{_id}}/edit" method="POST">

        <label> Nickname:
            <input type="text" name="nickName" value="{{nickName}}"/>
        </label>

        <label> Brand:
            <input type="text" name="brand" value="{{brand}}"/> 
        </label>

        <label> Model:
            <input type="text" name="model" value="{{model}}"/> 
        </label>

        <label> Country of origin:
            <input type="text" name="countryOrigin" value="{{countryOrigin}}"/>
        </label>

        <label> Year:
            <input type="number" name="year" value="{{year}}"/>
        </label>

        <label for="cars">Type of guitar:</label>
        <select name="type" id="type">
                <option value={{typeOptions}}>{{typeOptions}}</option>
        </select>

        <label> Fingerboard Material:
            <input type="text" name="fingerboardMaterial" value="{{fingerboardMaterial}}"></input>
        </label>

        <label> Pickup Configuration:
            <input type="text" name="pickupConfig" value="{{pickupConfig}}"> </input>
        </label>

        {{!-- <label> Image:
            <input type="file" name="image" class="form-control-file" /> 
        </label> --}}

        <label for="textarea"> Please add any artist you know who plays a similar guitar:</label>
        <textarea id="textarea" name="artists" cols="20" rows="2"> {{artists}}</textarea>

        <div class="row-btns">
        <button class="button" type="submit"> Change </button> 
        <form action="/guitars/{{_id}}/delete" method="POST">
            <button class="button delete">Delete</button>
        </form>
        </div>    
    </form>

</div>