<a href="/">Home</a>
<a href="/guitars/create">Add your beauty</a>
<a href="/signup">Sign up</a>
{{!-- fix above when users is created --}}
<a href="/Login">Log in</a>
{{!-- fix above when users is created --}}

<h1>List of all guitars</h1>

{{#each guitarList}}
    <a href="/guitars/{{this._id}}"><img src="{{this.image}}" alt=""></a>
    <p>Brand: {{this.brand}}</p>
    <p>Model: {{this.model}}</p>
    <p>User: {{this.user.username}}</p>
    <form action="/guitars/{{this._id}}/delete" method="POST">
        <button>Delete</button>
    </form>
{{/each}}